main
{
    background-color: teal;
    width: 100%;
    height: 860px;
    display: flex;
    
}
footer
{
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 20px;
    background-color: salmon;
}
nav ul
{
    list-style-type: none;
    width: 100%;
    height: 40px;
    text-align: center;    
    background-color: salmon;

}
li
{
    margin-bottom: 2%;
    display: inline;
    margin-right: 2%;
    margin-left: 2%;
    font-size: 20px;
}
section
{
    text-align: center;
    font-size: 20px;
    display: flex;
    flex-flow: column;
    width: 100%;
    background-color: slategrey;

}
article
{
    width:100%;
    margin-bottom: 2%;
    height: 400px;
    margin-right: 2%;
    font-size: 20px;
    background-color: steelblue;
    float: left;
}
aside
{
    width: 20%;
    font-size: 20px;
    display: flex;
    flex-flow: column;
    
}
a
{
text-align: left;
margin-left: 10%;
margin-top: 5%;
width: 100%;
font-size: 20px;

}