#nombre{
    width: 20%;
    font-size: 15px;
    height: 3%;
}
#color
{
    border-radius: 100%;
}
#edad
{
    width: 5%;
    font-size: 15px;
}
input
{
    margin-top: 2%;    
}
label
{
    margin-right: 1%;
    text-align: left;
}
